@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/*html {
	color-scheme: light dark;
}*/

/*@media (prefers-color-scheme: dark) {
    body { color: #c9d1d9; background: #0d1117; } 
    a:link { color:#58a6ff; } 
    a:visited { color:#8e96f0 }
}*/
:root {
	--card-shadow: rgba(210, 210, 210, 1);
	--card-red: rgb(255, 190, 190);
	--card-red-shadow: rgb(242, 150, 150);
	--card-green: rgb(171, 238, 198);
	--card-green-shadow: rgb(145, 217, 174);
}

body {
	min-height: 100vh;
	font-weight: 400;
	background-color: rgba(230, 230, 230, 1);
/*	background-color: rgba(11, 41, 88, 1);*/
/*	background-color: rgba(161, 189, 226, 1.0);*/
	padding: 0px 40px;
	font-family: "Urbanist";
	font-weight: bold;
	color: #333;
}

button {
	all: unset;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}



.options {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.option > h3 {
	text-align: center;
	font-size: 18px;
}

h2 {
	font-size: 24px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.vert-bar {
	width: 3px;
	height: 160px;
	background-color: rgba(210, 210, 210, 1);
	border-radius: 4px;
}

.header {
	text-align: right;
	width: 400px;
}

.subtitle {
	max-width: 400px;
	text-align: left;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	letter-spacing: -2px;
}

@media (max-width: 720px) {
	body {
		padding: 0px 15px;
	}

	.vert-bar {
		display: none;
	}

	header {
		flex-direction: column;
	}

	.header {
		text-align: center;
		width: unset;
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 18px;
	}

	.subtitle {
		text-align: center;
		max-width: unset;

	}
}

.section {
	padding-top: 40px;

}

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.cards {
	max-width: 1080px;
	margin: 0 auto;
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
/*	border: 1px solid red;*/
}

.instructions {
	margin-top: 10px;
}

.spacer {
	padding: 0px 6px;
	border-radius: 4px;
}

.flipper {
	position: absolute;
	padding: 0px 6px;
	background-color: white;
	border-radius: 4px;
	transform-style: preserve-3d;
	transition: transform 1s;	
}

.flipper2 {
	padding: 0px 6px;
	visibility: hidden;
}

.flipper:hover {
	transform: perspective(800px) rotateY(180deg);
}

.bar {
	height: 3px;
	width: 100%;
	background-color: rgba(210, 210, 210, 1);
	margin: 40px 0px;
	border-radius: 4px;
}

.card {
	aspect-ratio: 1 / 1.333;
	width: 240px; /* 10% */
/*	border: 1px solid green;*/
	
	position: relative;
	transform-style: preserve-3d;
	transition-property: transform, box-shadow;
	transition-duration: 1s, 0s;
	transition-delay: 0s, 0.5s;

	cursor: pointer;
	border-radius: 12px;

	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */

  	background-color: white;
  	--box-shadow-color: var(--card-shadow);
  	box-shadow: 2px 2px 0px 0px var(--box-shadow-color);
}

.no-box-shadow-delay {
	transition-delay: 0s, 0s;
}

.card-flip {
	transform: perspective(800px) rotateY(180deg);
	box-shadow: -2px 2px 0px 0px var(--box-shadow-color);
}

.card-color-red {
	background-color: var(--card-red);
	--box-shadow-color: var(--card-red-shadow);
}

.card-color-green {
	background-color: var(--card-green);
	--box-shadow-color: var(--card-green-shadow);
}


input[type=radio] {
	opacity: 0;
	position: absolute;
}

input[type=radio]:checked + label {
	padding: 0px 13px;
	border: 3px solid #333;
}

input[type=radio]:hover + label {
	padding: 0px 13px;
	border: 3px solid #333;
}

.radio-group {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 4px;
}

.radio-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px 16px;
	height: 40px;
	background-color: #fdd200;
	border-radius: 6px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.button {
	box-sizing: border-box;
}

.button:hover {
	background-color: #fdd200;
	border: 3px solid #333;
	padding: 0px 13px;
}

.button:active {
	background-color: #ffe879;
}

h6 {
	font-weight: "Urbanist";
	font-weight: bold;
	font-size: 36px;
}

.card-face {
	height: 75%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-front {
	
}

.card-back {
	transform: rotateY(180deg);
}

.content-number {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: calc(-33% + 6px);
	left: calc(50% - 20/2px);
	
	
	font-size: 10px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.17);

	border-radius: 6px;
	width: 20px;
	height: 20px;
	font-family: "Urbanist", sans-serif;
	mix-blend-mode: soft-light;
}

.content-front {
	font-size: 84px;
	font-weight: bolder;
}

.content-back {
	padding: 0px 20px;
	text-align: center;
	font-size: 36px;
	font-family: "Urbanist";
	font-weight: bold;
}

.slidercontainer {
	padding: 10px 30px;
}

footer {
	margin: 100px 0px;
	text-align: center;
}

.footer-links {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.link svg{
	width: 24px;
	height: 24px;
}
