*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
    body { color: #c9d1d9; background: #0d1117; } 
    a:link { color:#58a6ff; } 
    a:visited { color:#8e96f0 }
}

body {
	min-height: 100vh;
	border: 1px solid blue;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

.container {
	min-height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border: 1px solid red;
}

.card {
	aspect-ratio: 1 / 1;
	width: 10%;

	background-color: skyblue;
	border-radius: 24px;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	transition: transform 250ms;
	transform-style: preserve-3d;
	cursor: pointer;
	

	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.card-flip {
	transform: rotateY(180deg);
}

.card-face {
	position: absolute;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.card-front {
	
	font-size: 48px;
	font-weight: bolder;
	color: black;
	z-index: 2;
}

.card-back {
	font-size: 18px;
	font-weight: bold;
	color: black;
	z-index: 1;
	transform: rotateY(-180deg);
}
